@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');


/* shered styles */
* {
    font-family: 'Work Sans', sans-serif;


}

.section-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    /* 162.5% */
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;

    cursor: pointer;


}

/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-weight: 700;
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;

}


.banner img {
    margin-top: 20px;
    width: 100%;
}



/* main section styles */
main {
    max-width: 1300px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-content {
    padding: 0px 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .uick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;

}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* factes styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:  30px;
}

.facts-card-container .card-stats {
    font-size: #424242;
    font-size: 600;
    font-size: 2.8rem;
    margin-top:5px ;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
   line-height: 10px;
}
/* sponsors style */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap:40px;
    align-items: center;
}
.sponsors-img-container img{
    width: 165px;
}




/* responsive styles */
/* mobile devices */
@media screen and (max-width:576px) {

    header, .facts-card-container {
        padding: 20px;
    }

    nav,
    .teams-container,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container
     {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;

    }
     .facts-card-container{
        gap:20px;
     }
    

}




/* tablet   or medium devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 70px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

}